<p>Child Component</p>
<div class="card">
    <table class="table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>City</th>
                <th>Zipcode</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.username}}</td>
                <td>{{user.address.city}}</td>
                <td>{{user.address.zipcode}}</td>
            </tr>
        </tbody>
    </table>
</div>